<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"th:replace="~{fragments/layout :: layout (~{::body},'folders')}">

<body>

<h2 th:text="@{Collection from __${ #temporals.format( startDate, 'dd MMMM, YYYY' ) }__ to __${ #temporals.format( endDate, 'dd MMMM, YYYY' ) }__}">Collection</h2>

<div style="overflow-y: auto; max-height: 75vh;">

  <h3 th:if="${#lists.isEmpty(collection)}">
    No pictures from this date range
  </h3>
  <c th:each="pictureFile : ${collection}">
    <figure class="tt_base droppable draggable" th:id="@{figure-__${pictureFile.id}__}">
      <a th:id="@{picture__${pictureFile.id}__}" th:href="@{/collection/__${pictureFile.id}__?fromDate=__${fromDate}__&toDate=__${toDate}__&ID=&Key=&search=&sort=/}">
        <section class="wrapper" th:id=" @{file-number-__${pictureFile.id}__}">
          <span class="tt_subject">
            <img th:id="@{picture__${pictureFile.id}__}"
                 class="lazyload imageinlist imageresponsive"
                 th:src="${pictureFile.filename}"
                 th:data-src="${pictureFile.filename}"
                 th:alt="${pictureFile.filename}"
            >
            <!--
            <img th:id="@{picture__${pictureFile.id}__}"
                   class="lazyload imageinlist imageresponsive"
                   th:src="${pictureFile.filename}"
                   th:data-src="${pictureFile.filename}"
                   th:alt="${pictureFile.filename}"
              >
            </img>
          -->
          </span>
        </section>
      </a>
    <figcaption class="tt_edit">
      <form id="editprops">
        <fieldset>
          <button type="button" class="tt_title imageresponsive_">
            <span style="text-align:left;" th:text="${pictureFile.title}"></span>
          </button>
        </fieldset>
      </form>
    </figcaption>
    <div th:id="@{header-o-__${ pictureFile.id }__}" class="tt_left tt_text tt_header">
      <a class="tt_icon_anchor" th:href="@{./move/__${ pictureFile.id }__/-1/?fromDate=__${fromDate}__&toDate=__${toDate}__&ID=&Key=&search=&sort=/}">
        <i class="material-icons tt_icon">
          keyboard_arrow_left
        </i>
      </a>
      <a class="tt_icon_anchor" th:href="@{./move/__${ pictureFile.id }__/+1/?fromDate=__${fromDate}__&toDate=__${toDate}__&ID=&Key=&search=&sort=/}">
        <i class="material-icons tt_icon">
          keyboard_arrow_right
        </i>
      </a>
      <a class="tt_icon_anchor" th:href="@{./move/__${ pictureFile.id }__/+1/?fromDate=__${fromDate}__&toDate=__${toDate}__&ID=&Key=&search=&sort=/}">
        <i class="material-icons tt_icon">
          bedtime
        </i>
      </a>
      <a class="tt_icon_anchor" th:href="@{./delete/__${ pictureFile.id }__/?fromDate=__${fromDate}__&toDate=__${toDate}__&ID=&Key=&search=&sort=/}">
        <i class="material-icons tt_icon">
          delete
        </i>
      </a>
    </div>
      <!--
    <figcaption class="tt_text tt_bottom">
      <article th:id="@{art_keywords__${ pictureFile.id }__}" th:text="${pictureFile.keywords.content}">No keywords</article>
    </figcaption>
    -->
  </figure>
</c>
</div>


</body>
</html>
<!DOCTYPE html>
