<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"th:replace="~{fragments/layout :: layout (~{::body},'folders')}">

<body>

<style>
  /* For larger screens (default behavior) */
  .responsive-image-mobile {
      width: calc(var(--base-size) * var(--aspect-ratio));
      height: var(--base-size);
  }

  /* For mobile screens (less than 600px) */
  @media (max-width: 600px) {
      .responsive-image-mobile {
          width: calc(85vw - 20px); /* Example: full viewport width minus padding */
          height: calc((85vw - 20px) / var(--aspect-ratio)); /* Maintain aspect ratio */
      }
  }

  img.gallery_picture {
    position:relative;
    top:100%;
    eft:0%;
    z-index:0;
    height:15vh;
  }

  @media (max-width: 600px) {
    img.gallery_picture {
      position:relative;
      top:100%;
      eft:0%;
      z-index:0;
      height: calc((80vw - 20px) / var(--aspect-ratio)); /* Maintain aspect ratio */
    }
  }
</style>

<div class="col-sm-12 panemain" id="panemain" style="width:90%;">
  <div style="background:transparent;">

    <div class="centerstage">
      <div class="techfont" id="div_centrestage" style="min-height:60px;">
        <div class="row">
          <div class="col-md-6">
            <c th:if="${#strings.isEmpty(endDate)} or ${startDate} eq ${endDate}">
              <h1 th:text="@{'Collection from __${startDate}__ - #__${pageNumber + 1}__ of __${totalPages}__ pages'}">Collection</h1>
            </c>
            <c th:if="${startDate} neq ${endDate}">
              <h1 th:text="@{'Collection from __${startDate}__ to __${endDate}__ - #__${pageNumber + 1}__ of __${totalPages}__ pages'}">Collection</h1>
            </c>
          </div>

          <div style="overflow-y: auto; max-height: 75vh; max-width: 88vw;">

            <h3 th:if="${#lists.isEmpty(collection)}">
              No pictures from this date range
            </h3>

            <c th:each="pictureFile : ${collection}">
              <figure class="tt_base droppable draggable fixed"
                      th:id="@{figure-__${pictureFile.id}__}"
                      th:width="${pictureFile.displayWidth}"
                      th:height="${pictureFile.displayHeight}"
              >
                <a th:id="@{picture__${pictureFile.id}__}"
                   th:href="@{/collection/__${pictureFile.id}__/__${arguments}__}"
                >
                  <section class="wrapper" th:id=" @{file-number-__${pictureFile.id}__}">
                    <span class="tt_subject">
                      <img th:id="@{picture__${pictureFile.id}__}"
                           class="lazyload imageinlist collection"
                           th:width="${pictureFile.displayWidth}"
                           th:height="${pictureFile.displayHeight}"
                           th:src="${pictureFile.mediumFilename}"
                           th:data-src="${pictureFile.mediumFilename}"
                           th:alt="${pictureFile.filename}"
                      >
                    </span>
                  </section>
                </a>
                <a th:id="@{picture__${pictureFile.id}__}"
                   th:href="@{/collection/__${pictureFile.id}__/__${arguments}__}"
                >
                  <figcaption class="tt_edit">
                    <form id="editprops">
                      <fieldset>
                        <button type="button" class="tt_title imageresponsive_">
                          <span style="text-align:left;" th:text="@{__${pictureFile.title}__, __${pictureFile.id}__}" th:if="${#authorization.expression('isAuthenticated')}"></span>
                          <span style="text-align:left;" th:text="${pictureFile.title}" th:if="${!#authorization.expression('isAuthenticated')}"></span>
                        </button>
                      </fieldset>
                    </form>
                  </figcaption>
                </a>
                <div th:id="@{header-o-__${ pictureFile.id }__}" class="tt_left tt_text tt_header">
                  <a class="tt_icon_anchor" th:href="@{./move/__${ pictureFile.id }__/-1/__${arguments}__}">
                    <i class="material-icons tt_icon">
                      keyboard_arrow_left
                    </i>
                  </a>
                  <a class="tt_icon_anchor" th:href="@{./move/__${ pictureFile.id }__/+1/__${arguments}__}">
                    <i class="material-icons tt_icon">
                      keyboard_arrow_right
                    </i>
                  </a>
                  <a class="tt_icon_anchor" th:href="@{./move/__${ pictureFile.id }__/+1/__${arguments}__}">
                    <i class="material-icons tt_icon">
                      bedtime
                    </i>
                  </a>
                  <a class="tt_icon_anchor" th:href="@{./delete/__${ pictureFile.id }__/__${arguments}__?fromDate=__${fromDate}__&toDate=__${toDate}__&ID=&Key=&search=&sort=/}">
                    <i class="material-icons tt_icon">
                      delete
                    </i>
                  </a>
                </div>
                <!--
                <figcaption class="tt_text tt_bottom">
                  <article th:id="@{art_keywords__${ pictureFile.id }__}" th:text="${pictureFile.keywords.content}">No keywords</article>
                </figcaption>
                -->
              </figure>
            </c>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
<!DOCTYPE html>
