<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'albums')}">

  <head>
    <script>
      function showConfirmation() {
          var result = confirm("Are you sure you want to delete this item?");
          if (result) {
              // User clicked "OK," perform the delete action
              // You can make an Ajax call or redirect to a controller endpoint here
              alert("Item deleted!"); // Replace this with your actual delete logic
          } else {
              // User clicked "Cancel," do nothing or handle accordingly
              alert("Deletion canceled.");
          }
      }
    </script>
  </head>
  <body>
  
    <h2 th:text="${album.name}"></h2>

    <form action="#" th:action="@{/album/__${album.id}__/curate}" th:object="${album}" method="post">
      <input type="submit" value="Curate...">
    </form>

    <form action="#" th:action="@{/album/__${album.id}__/delete/}" th:object="${album}" method="post">
      <input type="submit" value="Delete Album">
    </form>

    <div style="overflow-y: auto; max-height: 92vh;">

      <figure th:each="entry : ${content}" class="tt_base droppable draggable" th:id="@{div__${entry.pictureFile.id}__}">
        <a th:id="@{picture__${entry.pictureFile.id}__}" th:href="@{/albums/__${entry.album.id}__/item/__${entry.pictureFile.id}__/}">
          <section class="wrapper" th:id=" @{file-number_${entry.pictureFile.id}}">
            <span class="tt_subject">
              <img th:id="@{picture__${entry.pictureFile.id}__}"
                   class="lazyload imageinlist imageresponsive"
                   th:src="${entry.pictureFile.filename}"
                   th:data-src="${entry.pictureFile.filename}"
                   th:alt="${entry.pictureFile.filename}"
              >

            </span></section>
        </a>
        <a th:id="@{btn__${entry.pictureFile.id}__}" th:href="@{/albums/__${album.id}__/item/__${entry.pictureFile.id}__/}">
          <figcaption class="tt_edit">
            <form id="editprops">
              <fieldset>
                  <button type="button" class="tt_title imageresponsive_">
                    <span style="text-align:left;" th:text="${entry.pictureFile.title}"></span>
                  </button>
              </fieldset>
            </form>
          </figcaption>
        </a>
        <div th:id="@{header_o__${album.id}__}" class="tt_left tt_text tt_header">
          <a class="tt_icon tt_small_icon_anchor" th:href="@{./make_thumbnail/${request.GET.ID}/__${album.id}__/}" style="color:black;height:1em;">
            <i class="material-icons tt_icon">
              album
            </i>
          </a>
          <a class="tt_icon tt_small_icon_anchor" th:href="@{./move/__${album.id}__/-1/}">
            <i class="material-icons tt_icon">
              keyboard_arrow_left
            </i>
          </a>
          <a class="tt_icon tt_small_icon_anchor" th:href="@{./move/__${album.id}__/+1/}">
            <i class="material-icons tt_icon">
              keyboard_arrow_right
            </i>
          </a>
          <a class="tt_icon tt_small_icon_anchor" th:href="@{./move/__${album.id}__/+1/}">
            <i class="material-icons tt_icon">
              bedtime
            </i>
          </a>
          <a class="tt_icon tt_small_icon_anchor" th:href="@{./__${album.id}__/delete/__${entry.pictureFile.id}__}">
            <i class="material-icons tt_icon">
              delete
            </i>
          </a>
          <figcaption style="position:absolute;left:5px;top:5px;right:150px;">
            <div th:id="@{header__${album.id}__}" class="tt_lefttextnooff" th:value="${album.id}">
            </div>
          </figcaption>
        </div>
      </figure>
    </div>

  </body>

</html>
