<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'folders')}">

<body>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script>
    function handleAddClick(event, album, picture) {

      event.preventDefault(); // Prevent the default form submission behavior

      $.ajax({
        url: '/album/' + album + '/add/' + picture,
        method: 'POST',
        dataType: 'text',
        success: function(response) {
          // Update the icon on success
          if (response === 'Added successfully') {
            $('#icon' + picture).text('remove');
          } else {
            // Handle other success cases if needed
          }
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    }
  </script>

  <h1 th:text="'Curate album ' + ${name} + ' using folder ' + ${folder.name}">Test</h1>

  <div style="overflow-y: auto; max-height: 92vh;">

    <figure th:each="pictureFile : ${collection}" class="tt_base droppable draggable" th:id="@{div__${pictureFile.id}__}">
      <a th:id="@{picture__${pictureFile.id}__}" th:href="@{/buckets/__${folder.name}__/file/__${pictureFile.fileNameOnly()}__}">
        <section class="wrapper" th:id=" @{file-number__${pictureFile.id}__}">
              <span class="tt_subject">
                <img th:id="@{picture__${pictureFile.id}__}"
                     class="lazyload imageinlist imageresponsive"
                     th:src="${pictureFile.filename}"
                     th:data-src="${pictureFile.filename}"
                     th:alt="${pictureFile.filename}"
                >
              </span>
        </section>
      </a>
      <a th:id="@{btn__${pictureFile.id}__}" th:href="@{/buckets/__${folder.name}__/file/__${pictureFile.fileNameOnly()}__}">
        <figcaption class="tt_edit">
          <form id="editprops">
            <fieldset>
              <button type="button" class="tt_title imageresponsive_">
                <span style="text-align:left;" th:text="${pictureFile.title}"></span>
              </button>
            </fieldset>
          </form>
        </figcaption>
      </a>
      <div th:id="@{header_o__${folder.name}__}" class="tt_left tt_text tt_header tt_big_header">
        <a class="tt_icon_anchor" href="#" th:onclick="@{handleAddClick( event, __${id}__, __${pictureFile.id}__ );}">
           <!-- th:href="@{/album/__${id}__/add/__${pictureFile.id}__}" -->
          <i th:id="@{icon__${pictureFile.id}__}" class="material-icons" style="font-size:96px;">
            add
          </i>
        </a>
        <figcaption style="position:absolute;left:5px;top:5px;right:150px;">
          <div th:id="@{header__${folder.name}__}" class="tt_lefttextnooff" th:value="${folder.name}">
          </div>
        </figcaption>
      </div>
    </figure>
  </div>

</body>

</html>
