<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"th:replace="~{fragments/layout :: layout (~{::body},'folders')}">

<body>

<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="license-container" style="height:75vh;overflow-y:scroll;">
        <style>
          /* Additional CSS to control width and centering */
          .license-container {
            max-width: 800px; /* Adjust max-width as needed */
            margin: 0 auto; /* Center horizontally */
            padding: 20px; /* Add some padding for better readability */
          }

         .header {
            font-weight: bold;
            font-size: 2vh;
          }

          .text {
            font-size: 1.2vh;
          }
        </style>

        <h1 class="header">IMAGE LICENSING</h1>
        <p class="text"><i>Updated - March 6, 2024</i>

        <p class="text">Images featured here are available to license for non-exclusive commercial use. Until further
        notice, please contact me on <a href="mailto:elliott.bignell@gmail.com" style="color:blue;">elliott.bignell@gmail.com</a>
        to obtain the image(s).

        <!--
        <p>To download and license an image, simply click on the "Buy" button underneath an image in the gallery, then visit the "Downloads" tab in the shopping cart

        <p>There are two sizes available for download:
        <p>Hi-Res 4MP - suitable for online usage and/or printing upto 8x10
        <p>Original - The full size image file, suitable for large printing
        -->

        <p class="text">Image files are provided as JPEG in the sRGB colorspace

        <p class="text">All downloaded images are subject to the terms of use laid out in the following licensing agreements.

        <p><h1 class="header">PERSONAL USE LICENSE</h1>

         <p class="text">Photographer ("Content Provider") grants buyer a non-exclusive perpetual personal-use license to download and
           copy the accompanying image(s) (collectively "Media") subject to the following restrictions:

        <ul>
        <li class="text">This license is for personal use only. Personal use means non-commercial use of the Media for display on
          personal websites and computers, or making image prints or video copies for personal use. The Media may not
          be used in any way whatsoever in which you charge money, collect fees, or receive any form of remuneration.
          The Media may not be used in advertising. The Media may not be resold, relicensed, or sub-licensed.
        <li class="text">Title and ownership, and all rights now and in the future, of and for the Media remain exclusively with
          the Content Provider.
        <li class="text">There are no warranties, express or implied. The Media are provided 'as is.'
        <li class="text">Neither Content Provider nor SmugMug will be liable for any third party claims or incidental, consequential
          or other damages arising out of this license or buyer's use of the Media.
        </ul>

        <p><h1 class="header">COMMERCIAL USE LICENSE</h1>

        <p><h2 class="header">What buyers can do:</h2>

        <p class="text">Photographer or videographer ("Content Provider") grants buyers a perpetual, non-exclusive, non-transferable,
          worldwide license to use the accompanying image(s) or video(s) (collectively, "Media,") for permitted
          commercial purposes, defined as:

        <ul>
        <li class="text">advertising, promotion, brochures, packaging
        <li class="text">as part of a commercial website for promotional purposes (maximum 800x600 pixels) use
        <li class="text">prints, posters, flyers, tear-sheets for promotional purposes (not for resale)
        <li class="text">prints, posters, or other commercial display of Media
        <li class="text">magazines, books, newspapers, other printed publications
        <li class="text">video, broadcast, theatrical
        <li class="text">postcards, calendars
        </ul>

        <p></p><h2 class="header">What buyers may not do:</h2>

        <p class="text">Buyer may not resell, re-license, redistribute without express written permission from Content Provider. Use
          as a derivative work, and reselling or redistributing such derivative work is prohibited. Media may not be
          used in a pornographic, obscene, illegal, libellous or defamatory manner. Media may not be incorporated
          into trademarks, logos, or service marks. Media may not be made available for download.

        <p class="text">Content Provider retains all rights, license, copyright, title and ownership of the Media.

        <p class="text">There is no warranty, express or implied, with the purchase of this digital image or video file. Content
        Provider shall not be liable for any claims, or incidental, consequential or other damages
        arising out of this license or buyer's use of the Media.

        <p class="text">For licensing purposes that fall outside the scope of this agreement, please contact me to discuss further:
        <p class="text">Contact: <a href="mailto:elliott.bignell@gmail.com" style="color:blue;">elliott.bignell@gmail.com</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
<!DOCTYPE html>
