<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"th:replace="~{fragments/layout :: layout (~{::body},'folders')}">

<body>

  <div id="div_collection" style="overflow-y: auto; max-height: 75vh;">
    <table th:id="@{quarterly__${ year.getYear }__}" class="calendar_year_table" style="width:100%;bg-color:red;">
      <tr style="height:10em;">
          <td>
            <a th:id="@{year__${year.getYear}__}">
              <h1 class="techfont" style="color:var( --homepix-dark ); font-size:48px;position:relative;top:0.6em;left:0.5em;background: none;transform-origin: 0 0;transform:" th:text="${year.getYear}">
              </h1>
            </a>
          </td>
      </tr>
      <tr>
        <td>
          <table th:id="@{quarterly__${ year }__}" class="calendar_year_table" style="width:100%;bg-color:red;">
            <tr>
              <td>
                <table id="quarterly_{{ year.getYear }}_{{ month }}">
                  <tr th:each="quarter, iterStat : ${year.getQuarters}" style="height:48px;">
                    <td th:each="month : ${quarter.getMonths}" id="month_{{ year }}_{{ idx }}_{{day}}" style="width:calc(25%-2em);padding-left:0.1em;padding-right:0.1em;padding-top:0.1em;padding-bottom:0.1em;">
                      <div th:id="@{#quarterly-__${ year.getYear }__-__${ month.getName }__}">
                        <table th:id="@{q_table__${ year }___${ month.name }__}" class="homepix-day-table">
                          <tr>
                            <td style="width:0.3em;"></td>
                            <td style="colspan:7;">
                              <div class="techfont" style="position:relative;top:0.2em;left:0.2em;color:var( --homepix-bg ); font-size:20px;" th:text="@{__${month.getName}__}">
                              </div>
                            </td>
                            <td style="width:0.3em;"></td>
                          </tr>
                          <tr>
                            <td>.</td>
                            <td th:each="day : ${calendar.dayNames}" class="techfont" style="height:2em;color:var( --homepix-bg ); font-size:12px;">
                              <a href="collection/?fromDate={{ year }}-{{month.0.0.4}}-{{day}}&toDate={{ year }}-{{month.0.0.4}}-{{day}}&ID=&Key=&search=&sort=" th:text="${day}">
                              </a>
                              </td>
                            <td>.</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td style="colspan:7;">
                            </td>
                            <td></td>
                          </tr>
                          <tr th:each="week : ${month.getWeeks}" style="height:3em;">
                            <td></td>
                            <td th:each="day : ${week.getDays}"
                                class="stretch-background"
                                th:style="@{day.thumbnail != null ? 'background-image: url(__${day.thumbnail?.mediumFilename}__);' : ''}"
                            >
                              <c th:if="${day.getDayOfMonth != 0}">
                                <a  th:id="@{daylink-__${ year.getYear }__-__${ month.getIndex }__-__${ day.getDayOfMonth }__}"
                                    th:href="@{../collection/?fromDate=__${day.getFormattedDate(year.getYear(), month?.getIndex(), day?.getDayOfMonth())}__&amp;toDate=__${day.getFormattedDate(year.getYear(), month?.getIndex(), day?.getDayOfMonth())}__&amp;ID=&amp;Key=&amp;search=&amp;sort=}"
                                    th:if="${day.thumbnail != null}"
                                >
                                  <div class="calendar_tile calendar_tile_small">
                                    <div class="scrim scrim_small"
                                         style="font-size:1em;font-weight:bolder;left:0px;"
                                         th:text="${day.getDayOfMonth}"
                                    >
                                    </div>
                                  </div>
                                </a>
                                <div class="calendar_tile calendar_tile_small"
                                     th:if="${day.thumbnail == null}"
                                >
                                  <div th:text="${day.getDayOfMonth}">
                                  </div>
                                </div>
                              </c>
                            </td>
                            <td></td>
                          </tr>
                          <tr th:if="${month.count <= 5}" style="height:3em;">
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              <td>
            <tr>
          <table>
        <td>
      <tr>
    </table>
  </div>

</body>
</html>
