/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

table {
    padding         : 1px;
    border-collapse : collapse;
    border-spacing  : 5px;
    font-size       : 400%;
}

.titletext {
    font-style      : italic;
    margin-bottom   : 0px;
}

.titlefont{
  position:absolute;
  top:0%;
  left:50%;
  width:100%;
  font-size:0.5em;
  height:1.2em;
  transform: translate(-50%, 50%);
}

#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

