<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"th:replace="~{fragments/layout :: layout (~{::body},'folders')}">

<body>

<div class="col-sm-12 panemain" id="panemain" style="width:90%;">
  <div style="background:transparent;position:absolute;left:0em;right:0em;top:0em;bottom:0em;">


    <div class="centerstage">
      <div class="techfont" id="div_centrestage" style="min-height:60px;">
        <div class="row">
          <div class="col-md-6">
            <h1>Folders</h1>
          </div>
        </div>
      </div>

      <figure th:each="folder : ${folders}" class="tt_base droppable techfont gallery justified" id="div_2__">
        <figcaption th:text="${folder.name}" class="desc">Unnamed</figcaption>
        <a id="@{piclink___${folder.count}__}" th:href="@{/buckets/__${folder.name}__}">
          <section class="wrapper" id="file-number__">
              <span class="tt_subject">
                <img th:id="@{picture_${folder.id}}"
                     class="gallery_picture lazyloaded"
                     th:width="${thumbnails[folder.thumbnailId]?.displayWidth}"
                     th:height="${thumbnails[folder.thumbnailId]?.displayHeight}"
                     th:src="${thumbnails[folder.thumbnailId]?.mediumFilename}"
                     th:data-src="${thumbnails[folder.thumbnailId]?.mediumFilename}"
                     th:alt="@{Contains __${folder.picture_count}__ shots}"
                />
              </span>
          </section>
        </a>
        <figcaption th:text="Thumbnail" class="count">Empty</figcaption>
      </figure>
    </div>
  </div>

  <script type="text/javascript">
        //imgnav = new folderMover( "." )
    </script>



</div>

</body>
</html>
