<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'folders')}">

<body>

  <script th:inline="javascript">
    /*<![CDATA[*/
    function hidePicture(pictureId) {

        var elementId = "div" + pictureId;

        if ($(".scary").is(":visible")) {
          $('#' + elementId).hide();
        }
        else {
          $('#' + elementId).show();
        }

        $.post('/restrict/' + pictureId, function(response) {

            elementId = "hide-" + pictureId;
            $('#' + elementId).addClass('show_button');
            $('#' + elementId).removeClass('hide_button');

            elementId = "show-" + pictureId;
            $('#' + elementId).addClass('hide_button');
            $('#' + elementId).removeClass('show_button');

            var elementId = "div" + pictureId;
            $('#' + elementId).addClass('scary');
        });
    }

    function showPicture(pictureId) {

        $.post('/derestrict/' + pictureId, function(response) {

            elementId = "hide-" + pictureId;
            $('#' + elementId).addClass('hide_button');
            $('#' + elementId).removeClass('show_button');

            elementId = "show-" + pictureId;
            $('#' + elementId).addClass('show_button');
            $('#' + elementId).removeClass('hide_button');

            var elementId = "div" + pictureId;
            $('#' + elementId).removeClass('scary');

            console.log("Showing " + pictureId);
        });
    }

    function toggleRestricted() {

      if ($("#toggle_scary").prop("checked")) {
        $(".scary").show();
      } else {
        $(".scary").hide();
      }
    }
    /*]]>*/
  </script>

  <div style="position:relative;top:8em;">
    <div class="centerstage">
      <div class="techfont" id="div_centrestage" style="min-height:60px;">
        <div class="row">
          <div class="col-md-6">
            <h1 th:text="@{__${folder.displayName}__ - #__${pageNumber + 1}__ of __${totalPages}__ pages}"></h1>
          </div>
          <form th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                action="#"
                th:action="@{/buckets/__${folder.name}__/import/}"
                th:object="${folder}"
                method="post"
          >
            <input type="submit" value="Scan folder...">
          </form>

          <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
          >
            <!-- th:if="${#authorization.expression('hasRole(''ADMIN'')')}"-->
            <label>Show Restricted Pictures</label>
            <input id="toggle_scary" onClick="toggleRestricted();" type="checkbox" name="showScary" th:checked="${showScary}" />
          </div>

          <div style="overflow-y: auto; max-height: 75vh;">

            <figure th:each="pictureFile,iterStat : ${collection}"
                    th:class="${pictureFile.getIsScary() ? 'tt_base droppable draggable fixed scary' : 'tt_base droppable fixed draggable'}"
                    th:width="${pictureFile.displayWidth}"
                    th:height="${pictureFile.displayHeight}"
                    th:id="@{div__${pictureFile.id}__}"
            >
              <a th:id="@{picture__${pictureFile.id}__}"
                 th:href="@{/buckets/__${folder.name}__/item/__${iterStat.index + pageSize * pageNumber}__/__${arguments}__}"
              >
                <section class="wrapper" th:id=" @{file-number__${pictureFile.id}__}">
                  <span class="tt_subject">
                    <img th:id="@{picture__${pictureFile.id}__}"
                         class="lazyload imageinlist folder"
                         th:width="${pictureFile.displayWidth}"
                         th:height="${pictureFile.displayHeight}"
                         th:src="${pictureFile.mediumFilename}"
                         th:data-src="${pictureFile.mediumFilename}"
                         th:alt="${pictureFile.title + (keyword_lists[pictureFile.id] != '' ? ', ' + keyword_lists[pictureFile.id] : '')}"
                    >
                  </span>
                </section>
              </a>
              <a th:id="@{btn__${pictureFile.id}__}"
                 th:href="@{/buckets/__${folder.name}__/item/__${iterStat.index + pageSize * pageNumber}__/__${arguments}__}"
              >
                <figcaption class="tt_edit">
                  <form id="editprops">
                    <fieldset>
                      <button type="button" class="tt_title imageresponsive_">
                        <span style="text-align:left;" th:text="@{__${pictureFile.title}__, __${pictureFile.id}__}" th:if="${#authorization.expression('isAuthenticated')}"></span>
                        <span style="text-align:left;" th:text="${pictureFile.title}" th:if="${!#authorization.expression('isAuthenticated')}"></span>
                      </button>
                    </fieldset>
                  </form>
                </figcaption>
              </a>
              <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:id="@{header_o__${folder.name}__}" class="tt_left tt_text tt_header">
                <a href="#"
                   th:class="${pictureFile.getIsScary() ? 'tt_icon_anchor hide_button' : 'tt_icon_anchor show_button'}"
                   th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   th:onclick="'showPicture(\'' + ${pictureFile.id} + '\')'"
                   th:id="@{show-__${pictureFile.id}__}"
                >
                  <i th:id="@{add_restricted-__${pictureFile.id}__}" class="material-icons tt_icon">
                    add
                  </i>
                </a>
                <a href="#"
                   th:class="${pictureFile.getIsScary() ? 'tt_icon_anchor show_button' : 'tt_icon_anchor hide_button'}"
                   th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   th:onclick="'hidePicture(\'' + ${pictureFile.id} + '\')'"
                   th:id="@{hide-__${pictureFile.id}__}"
                >
                  <svg width="24" height="24" fill="white" class="bo" viewBox="0 -960 960 960">
                    <path d="m576-80-56-56 104-104-104-104 56-56 104 104 104-104 56 56-104 104 104 104-56 56-104-104L576-80ZM120-320v-80h280v80H120Zm0-160v-80h440v80H120Zm0-160v-80h440v80H120Z"/>
                  </svg>
                </a>
                <a class="tt_icon_anchor"
                   th:href="@{./delete/__${folder.name}__/}"
                   th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                >
                  <svg width="24" height="24" fill="white" class="bo" viewBox="0 -960 960 960">
                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z">
                    </path>
                  </svg>
                </a>
                <figcaption style="position:absolute;left:5px;top:5px;right:150px;">
                  <div th:id="@{header__${folder.name}__}" class="tt_lefttextnooff" th:value="${folder.name}">
                  </div>
                </figcaption>
              </div>
            </figure>
            <figure class="tt_base droppable draggable" id="map_preview" th:if="${mapUrl != null && !#strings.isEmpty(mapUrl)}">
              <a th:href="@{/maps/bucket/__${folder.name}__}">
                <section class="wrapper" th:id="map_wrapper">
                  <span class="tt_subject">
                    <img id="map_img"
                         class="lazyload imageinlist imageresponsive"
                         width="300"
                         height="200"
                         th:src="${mapUrl}"
                         alt="Map showing pictures in folder"
                    >
                  </span>
                </section>
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
